
:root{
    
    /* Global Colors */
    --lightblue: #21E9FF;
    --blue: #08D4EB;
    --tortoise: #028F9E;
    --orange: #EB6807;
    --marron: #9E4300;

    /* Common colors */

    /* Gradients */
    --blue-gradient: linear-gradient(145deg, var(--blue) 0%, var(--tortoise) 100%);

    /* Shadows */
    --book-shadow: 5px 5px 8px 3px rgba(0,0,0,0.27);
}